---
layout: base.njk
title: Home
---

<div class="main-body">
  <div class="main-text">

      <p>
    The collaborative music lab focuses on creating shared musical experiences through the creation of new software and hardware instruments. In particular, we are interested in:
  </p>

  <ul class="main-list">
    <li>Instrument design as creative process</li>
    <li>Musical knowledge and aesthetics embedded in musical instruments</li>
    <li>How musical practice using music technology creates cultural impact</li>
    <li>How people make electronic music together</li>
    <li>Future practices of making electronic music in ensemble</li>
  </ul>

  <p>
    The CML is directed by <a href="https://ianhattwick.com">Ian Hattwick</a>.
  </p>

  </div>

  <div class="main-grid">
    <div class="project-grid">
      {% for project in collections.projects %}
        <a class="project-card" href="{{ project.url | url }}">
          <img src="{{ project.data.image }}" alt="{{ project.data.title }}">
          <div class="overlay">
            <h2>{{ project.data.title }}</h2>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>